 /* responsive-site-header */
 @media only screen and(max-width:375px) {
  .navbar,.nav-link,.nav-list{
    
    display: flex;
    align-items: center;
   
    
   }
   .navbar-text{
     align-items: center;

   }
   .nav-hamburger{
     display:block;
     padding-right: 20px;
       align-items: center;
   
   }
   .nav-item,.nav-item>a{
    display: none;
   
   }
 




  
 }
 @media only screen and (max-width: 576px) {
  
   .navbar,.nav-link,.nav-list{
    
     display: flex;
     align-items: center;
     
    }
    .navbar-text{
      align-items: center;

    }
    .nav-hamburger{
      display:block;
      padding-right: 20px;
        align-items: center;
    
    }
    .nav-item,.nav-item>a{
     display: none;
    
    }
    .banner{
      display: grid;
      align-items: center;
    }
   
    .banner-text{
      align-items: center;
      justify-content: center;
      text-align:left

    }
    
    .img-banner{
      width:auto;
      padding-top: 55px;
    }
    
 }