@media only screen and (max-width: 576px) {
  
    .navbar{  
      flex-direction: row;
     
     }
    
     /* ,.nav-link,.nav-list */
     
     .navbar-text{
       align-items: center;
     }
     .nav-hamburger{
       display:block;
       padding-right: 20px;
         align-items: center; 
         gap: 10px;
         color: white;
     
     }
     .nav-item,.nav-item>a{
      display: none;
     
     }
     .banner{
      flex-direction: column;
      align-items: center;

    }
   
   
    .banner-text{
      font-size: 35px;
      text-align: center;
      
    }
    .banner-p{
    
      align-items: center;
      letter-spacing: 0px; 
      justify-content: center; padding-left: 40px;
      font-size: smaller;

    }
    
    
    .img-banner{
      width:auto;
      padding-top: 55px;
    }
    .button{
      flex-direction: column;
      align-items: center;

    }
    .main-content{
      flex-direction: column;
      text-align: center;
    justify-content: center;
    align-items: center;
    width: auto;
    }
    .shadow-part{
      flex-direction: column;
      width: 380px;
      height: 300px;
      margin-left: 0%;
      padding: auto;

    }
    .run-part,.shadow-part{
      flex-direction: column;
      text-align: center;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 30px;
    margin: auto;

    }
    .table-content{
      padding-top: 350px;
      flex-direction: column;
      text-align: center;
   
      margin: auto;

    }
    .footer{
      flex-direction: column;
      text-align: center;
      margin: auto;

    }
    }